[submodule "snippets/yasnippet-snippets"]
	path = snippets/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "snippets/yasnippet-ruby-mode"]
	path = snippets/ruby-mode
	url = git@github.com:bmaland/yasnippet-ruby-mode.git
